<h1>New User</h1>

<%= form_for :user, url: users_create_path do |f| %>
  <div>Username: <%= f.text_field :name %></div>
  <div>Password: <%= f.password_field :password %></div>
  <div>Confirm Password : <%= f.password_field :password_confirmation %></div>
  <%= f.submit %>
<%end%>